<%= form_with model: [user, article] do |form| %>
        <div>
                <strong><%= form.label :title %><br></strong>
                <%= form.text_field :title %>
        </div>
        <% article.errors.full_messages_for(:title).each do |message| %>
                <div><%= message %></div>
        <% end %>

        <div>
                <strong><%= form.label :body %><br></strong>
                <%= form.text_area :body %>
        </div>
        <% article.errors.full_messages_for(:body).each do |message| %>
                <div><%= message %></div>
        <% end %>

        <div>
                <%= form.label :status %><br>
                <%= form.select :status, ['public', 'private'], selected: 'public' %>
        </div>

        <div>
                <%= form.submit %>
        </div>
<% end %>