<h1><%= @user.name %></h1>
<h3><%= @user.email %></h3>
<br>
<button><%= link_to "Home", root_path %></button><br>
<% if current_user == @user %>
        <p>
        <a href = '<%= edit_user_path(@user) %>'>Click here</a> to update profile.
        </p>
        <p>
        <%= link_to "Delete my Account", user_path(@user),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></li>
        </p>
        <br><br>
        <h2> Your articles </h2>
        <%= link_to "Create New Aricle", new_user_article_path(@user.id) %> <br><br>
<% else %>
        <p> <%= @user.name %> has <%= @user.articles.count %> articles. </p>
<% end %>
<ul>
<%= render @user.articles %>
</ul>